.App {
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 30%;
  border: 3px solid #282c34;
  padding: 5px;
}
input{
  border: 2px solid #282c34!important;
}
input:not(:last-child){
  margin: 5px 0;
}

.thumb{
  width: 10%;
}
nav{
  background-color: #888;
  margin-top: 5%;
  width: 20%;
}
a {
  color: #eee;
}
li{
  border-top: 3px solid #444;
  border-right: 3px solid #444;
}
li:last-child{
  border-bottom: 3px solid #444;
}
li:hover{
  background-color: #8490aa;
}
a:hover{
  color: #444;
}

